AnchorPane{
    -fx-background-color: linear-gradient(to bottom right, rgb(87,44,127), rgb(49,147,188));
    -fx-background: rgb(26, 29, 38);
    -fx-font-size: 14px;
}
/*
#forecastGrid1, #forecastGrid2{
    -fx-background-color: white;
}

#forecastGrid1{
    -fx-background-radius: 0 15 15 0;
}

#forecastGrid2{
    -fx-background-color: white;
    -fx-background-radius: 15 0 0 15;
}

#forecastGrid1 Label, #forecastGrid2 Label{
    -fx-text-fill: rgb(90, 90, 90);
}
*/

.currentTempLabel{
    -fx-font-size: 38px;
}

.windChillLabel{
    -fx-font-size: 22px;
}

.forecastTempLabel{
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}

Button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

Button.hover{
    -fx-underline: true;
}


